@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive;
}

.login-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/backgroud.png");
}

.logo{
    width: 70%;
    height: 40vh;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    
}

.login-child{
    width: 40%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.login-form {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.login-form h1{
    margin-bottom: 2rem;
}

.login-form label {
    font-size: 1.3rem;
}

.login-form input{
    width: 60%;
    height: 3.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
    border: 0;
    font-size: 1.3rem;
    padding-left: 0.5rem;
}

.input-container{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.input-container .grad-1 {
   display: flex;
   justify-content: center;
   align-items: center; 
   cursor: default;
   background-color: #FF1616;
}


.btn-grad {
   width: 20%;
   height: 3.5rem;
   text-align: center;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   display: block;
   border: 0;
   font-size: 1rem;
   cursor: pointer;
   background-color: #004AAD;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, 
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px;
 }


 .btn-grad:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
 }


@media (max-width: 1000px){
    .login-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url("../img/phone-backgroud.png");
    }

  .logo{
    width: 100%;
    height: 30vh;
    background-size: 80%;  
  }
  .login-child{
      width: 90%;
      height: 45vh;
      margin: 0;
  }  

  .login-form{
      width: 90%;
  }

  .input-container{
    width: 85%;
}

}

