.container-pokepage{
  width: 100vw;
  height: 100vh;
  background-image: url(../img/pokedex.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokepage-child{
  width: 80%;
  height: 80vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-image: url(../img/Diseño\ sin\ título.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.infoContainer {
  width: 50%;
  height: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.infoContainer h1{
  font-size: 4rem;
  width: 100%;
  text-align: center;
}

.info-pokedex{
  margin: 1rem;
  height: 50%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.info-pokedex p{
  color: white;
  width: 80%;
  padding: 0.4rem;
  margin: 0.3rem;
  font-size: 1.1rem;
  border-radius: 3px;
  background-color: #3169B1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.infoContainer a{
  background-color: red;
  text-decoration: none;
  color: white;
  width: 40%;
  padding: 0.4rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

.imgContainer{
  width: 40%;
  height: 80%;
}

.imgContainer img{
  width: 100%
}

@media (max-width: 1000px){

  .container-pokepage{
    background-image: url(../img/phone-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

  }

  .pokepage-child{
    width: 90%;
    flex-wrap: wrap;
    height: 95%;
  }

  .infoContainer{
    width: 90%;
    height: 65%;
  }

  .imgContainer{
    height: 35%;
    width: 100%;
  }

  .info-pokedex{
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
  }
}